@-webkit-keyframes circle {

    0% {
        transform: rotate(0deg)translateY(-50vw)rotate(0deg);
    }

    100% {
        transform: rotate(360deg)translateY(-50vw)rotate(-360deg);
    }

}

@keyframes circle {

    0% {
        transform: rotate(0deg)translateY(-50vw)rotate(0deg);
    }

    100% {
        transform: rotate(360deg)translateY(-50vw)rotate(-360deg);
    }

}

@-webkit-keyframes skew {

    0% {
        transform: translateY(40vw);
    }

    100% {
        transform: translateY(-40vw);
    }

}

@keyframes skew {

    0% {
        transform: translateY(40vw);
    }

    100% {
        transform: translateY(-40vw);
    }

}

@-webkit-keyframes scaleMe {

    0% {
        transform: scale(0.1, 0.1);
        z-index: -1;
    }

    100% {
        transform: scale(0.6, 0.6);
        z-index: 2;
    }

}

@keyframes scaleMe {

    0% {
        transform: scale(0.2, 0.2);
        z-index: -1;
    }

    100% {
        transform: scale(0.8, 0.8);
        z-index: 2;
    }

}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hover {
    0% {
        transform: rotate(0deg)translate(-50vw)translateY(20vw)scale(0.3, 0.3);
    }
    20% {
        box-shadow: none;
    }
    21% {
        box-shadow: 0 0 10px white, 0 0 10px white ;
    }
    23% {
        box-shadow: none;
    }
    40% {
        box-shadow: none;
    }
    41% {
        box-shadow: 0 0 10px white, 0 0 10px white ;
    }
    43% {
        box-shadow: none;
    }
    60% {
        box-shadow: none;
    }
    61% {
        box-shadow: 0 0 10px white, 0 0 10px white ;
    }
    63% {
        box-shadow: none;
    }
    80% {
        box-shadow: none;
    }
    81% {
        box-shadow: 0 0 10px white, 0 0 10px white ;
    }
    83% {
        box-shadow: none;
    }
    100% {
        transform: rotate(0deg)translate(60vw)translateY(-20vw)rotate(100deg)scale(1.2, 1.2);
    }
}

@-webkit-keyframes hover {
    0% {
        transform: rotate(0deg)translate(-20vw)scale(0.3, 0.3);
    }
    20% {
        box-shadow: none;
    }
    21% {
        box-shadow: 0 0 10px white, 0 0 10px white ;
    }
    23% {
        box-shadow: none;
    }
    40% {
        box-shadow: none;
    }
    41% {
        box-shadow: 0 0 10px white, 0 0 10px white ;
    }
    43% {
        box-shadow: none;
    }
    60% {
        box-shadow: none;
    }
    61% {
        box-shadow: 0 0 10px white, 0 0 10px white ;
    }
    63% {
        box-shadow: none;
    }
    80% {
        box-shadow: none;
    }
    81% {
        box-shadow: 0 0 10px white, 0 0 10px white ;
    }
    83% {
        box-shadow: none;
    }
    100% {
        transform: rotate(0deg)translate(100vw)translateY(-20vw)rotate(100deg)scale(0.8, 0.8);
    }
}