@use "keyframes";
@use "components";

#heightInfo,
#weatherInfo,
#timeInfo {
    transition: opacity 2s ease;
}

body {
    font-size: 62.5%;
    margin: 0;
    background: url(../img/space2.jpg);
    background-size: cover;
    min-height: 200vh;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}


#container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;

    #rubrik {
        grid-area: 1/2/2/3;
        color: whitesmoke;
        text-align: center;
        @include components.rubrikstorlek(2);
    }

    #Btn {
        grid-area: 2/2/3/3;
    }

    #mapShade {
        grid-area: 3/2/4/3;
        height: 40vw;
        width: 40vw;
        border-radius: 50%;
        box-shadow: inset -3em -3em 3em black;
        margin: auto;
        margin-top: 10vw;
        margin-bottom: 10vw;
        z-index: 2;
    }

    #map {
        grid-area: 3/2/4/3;
        height: 40vw;
        width: 40vw;
        border-radius: 50%;
        box-shadow: 0 0 50px lightblue;
        margin: auto;
        margin-top: 10vw;
        margin-bottom: 10vw;
        z-index: 1;
    }

    #scale {
        grid-area: 3/2/4/3;
        margin: auto;
        -webkit-animation: scaleMe 10s ease-in-out infinite alternate;
        animation: scaleMe 10s ease-in-out infinite alternate;
    }

    #skew {
        grid-area: 3/2/4/3;
        margin: auto;
        -webkit-animation: skew 10s ease-in-out infinite alternate;
        animation: skew 10s ease-in-out infinite alternate;
    }

    #moon {
        grid-area: 3/2/4/3;
        width: 5vw;
        height: 5vw;
        background-color: whitesmoke;
        border-radius: 50%;
        margin: auto;
        box-shadow: inset -1vw -1vw 1vw rgb(43, 43, 43),
            0 0 10px lightblue;
        -webkit-animation: circle 20s linear infinite;
        animation: circle 20s linear infinite;
    }

    #heightInfo {
        grid-area: 4/2/5/3;
        text-align: center;
        color: whitesmoke;
    }

    #weatherInfo {
        grid-area: 5/2/6/3;
        text-align: center;
        color: whitesmoke;
    }

    #timeInfo {
        grid-area: 6/2/7/3;
        text-align: center;
        color: whitesmoke;
    }
}