@use "layout";
@use "keyframes";

@media screen and (max-width: 1200px) {

    #mapShade {
        height: 60vw;
        width: 60vw;
    }

    #map {
        height: 60vw;
        width: 60vw;
    }

    @-webkit-keyframes circle {

        0% {
            transform: rotate(0deg)translateY(-70vw)rotate(0deg);
        }

        100% {
            transform: rotate(360deg)translateY(-70vw)rotate(-360deg);
        }

    }

    @keyframes circle {

        0% {
            transform: rotate(0deg)translateY(-70vw)rotate(0deg);
        }

        100% {
            transform: rotate(360deg)translateY(-70vw)rotate(-360deg);
        }

    }

    #weatherInfo {
        min-height: 200px;
    }
}

@media screen and (max-width: 750px) {

    #Btn {
        font-size: 2.4em;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {

    #container {
        grid-template-columns: 10% 80% 10%;
    }

    #Btn {
        font-size: 2em;
    }
}

@media screen and (max-width: 450px) {


    #rubrik {
        font-size: 1.4rem;
    }

    .brödtext {
        font-size: 0.8rem;
    }

    #mapShade {
        height: 80vw;
        width: 80vw;
    }

    #map {
        height: 80vw;
        width: 80vw;
    }

    @-webkit-keyframes circle {

        0% {
            transform: rotate(0deg)translateY(-80vw)rotate(0deg);
        }

        100% {
            transform: rotate(360deg)translateY(-80vw)rotate(-360deg);
        }

    }

    @keyframes circle {

        0% {
            transform: rotate(0deg)translateY(-82vw)rotate(0deg);
        }

        100% {
            transform: rotate(360deg)translateY(-82vw)rotate(-360deg);
        }

    }

    #heightInfo {
        margin-top: 10px;
        font-size: 1.4em;
        line-height: 1.2rem;
        min-height: 80px;
    }
    #weatherInfo {
        font-size: 1.4em;
        line-height: 1.2rem;
        min-height: 120px;
    }
    #timeInfo {
        font-size: 1.4em;
        line-height: 1.2rem;
        min-height: 100;
    }

}