@use "layout";
@use "keyframes";

@media screen and (max-width: 1200px) {

    #mapShade {
        height: 60vw;
        width: 60vw;
    }

    #map {
        height: 60vw;
        width: 60vw;
    }

    @-webkit-keyframes circle {

        0% {
            transform: rotate(0deg)translateY(-70vw)rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg)translateY(-70vw)rotate(-360deg);
        }
    
    }
    
    @keyframes circle {
    
        0% {
            transform: rotate(0deg)translateY(-70vw)rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg)translateY(-70vw)rotate(-360deg);
        }
    
    }

    #weatherInfo {
        min-height: 200px;
    }
}

@media screen and (max-width: 750px) {

    #Btn {
        font-size: 2.4em;
    }
}

@media screen and (max-width: 450px) {

    #container {
        grid-template-columns: 10% 80% 10%;
    }

    #mapShade {
        height: 80vw;
        width: 80vw;
    }

    #map {
        height: 80vw;
        width: 80vw;
    }

    @-webkit-keyframes circle {

        0% {
            transform: rotate(0deg)translateY(-80vw)rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg)translateY(-80vw)rotate(-360deg);
        }
    
    }
    
    @keyframes circle {
    
        0% {
            transform: rotate(0deg)translateY(-82vw)rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg)translateY(-82vw)rotate(-360deg);
        }
    
    }

}